* {
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

.appended-items {
  display: flex;
  flex-direction: column;
  margin: 5px 25px 12px 5px;
}

.appended-items li {
  font-size: .85em;
  margin-bottom: 3px;
}

.appended-items select {
   height: 10px;
   overflow: hidden;
}

body {
  background-image: url('../assets/brown-siding.jpg');
}

.counts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.input-form {
  display: flex;
  justify-content: space-around;
}

.input-form input {
  border-radius: 5px;
  font-size: .85em;
  height: 25px;
  width: 25vw;
}

.input-form select {
  background-color: #D1D2D3;
  height: 29px;
  font-size: .8em;
  overflow: hidden;
  width: 240px;
}

.item-reason {
  display: none;
}

.item-cleanliness {
  display: none;
}

.items {
  color: black;
  margin-bottom: 50px;
}

.show-garage {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100vw;
}

.show-garage input {
  border-radius: 5px;
  font-size: .85em;
  height: 25px;
  width: 30vw;
  padding-top: 3px;
}

.sliding-doors {
  background-color: #D1D2D3;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  overflow: hidden;
  height: 65vh;
  width: 88vw;
  position: relative;
  z-index: 2;
  float: left;
  margin: 5%;
  border-radius: 3px;
  box-shadow:
  0 0 10px #000,
  0 0 0 5px #fff;
}

.sliding-doors ul {
  display: flex;
  flex-direction: row;
}

.slide-top{
  background: url('../assets/garageDoor.gif');
  height: 100%;
  width: 100%;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.slide-top.slide-open {
  top: -65vh;
}


.show-all .item-reason {
  display: inline-block;
}

.show-all .item-cleanliness {
  display: inline-block;
}
