* {
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

.sliding-doors {
  font-family: 'Verdana';
  font-weight: bold;
  overflow: hidden;
  height: 65vh;
  width: 88vw;
  position: relative;
  z-index: 2;
  float: left;
  margin: 5%;
  border-radius: 3px;
  box-shadow:
    0 0 10px #000,
    0 0 0 5px #fff;
}

.items {
  color: black;
}

.slide-top{
  background: url('../assets/garageDoor.gif');
  height: 100%;
  width: 100%;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.slide-top.slide-open {
  top: -65vh;
}

.appended-items {
  display: flex;
  justify-content: space-around;
}

.item-reason {
  display: none;
}

.item-cleanliness {
  display: none;
}

.show-all .item-reason {
  display: inline-block;
}

.show-all .item-cleanliness {
  display: inline-block;
}
